dummyproject/src/main/mule/dummyproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="61bfc399-6d78-42c3-819e-b4c2cd6d03c6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummyprojectFlow" doc:id="daeee088-5933-478f-9b0a-2888462a2fbf" >
		<http:listener doc:name="Listener" doc:id="5a399ea7-1d46-41a7-9d68-3e632e244427" config-ref="HTTP_Listener_config" path="/dummy"/>
		<set-payload value='#["hi dummy"]' doc:name="Set Payload" doc:id="29707bf3-b169-4203-9245-834e38a92cb4" />
		<logger level="INFO" doc:name="Logger" doc:id="ca8e133a-af2d-41c5-a990-5e82e934c637" message="#[payload]"/>
	</flow>
</mule>
